<header>
    <p><a href="/">Xinye Tao</a> | <a href="/blogs.html">Blog</a> - <a href="/topics.html">Topic</a> - <a href="/resume.html">Resume</a> - <a href="/feed.xml">Feed</a></p>
    <!-- <p><a href="/">Xinye Tao</a> - <a href="/blogs.html">Blog</a> - <a href="/contact">Contact</a> - <a href="/gallery">Gallery</a> - <a href="/resume">Resume</a> - <a href="/talks">Talks</a> | <a target="_blank" rel="noopener noreferrer" href="https://graphviz.christine.website">GraphViz</a> - <a target="_blank" rel="noopener noreferrer" href="https://when-then-zen.christine.website/">When Then Zen</a></p> -->
</header>
