.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  float: left;
  margin-top: 5px;
}

.checkbox-container input ~ b {
  color: var(--highlight-color);
  transition: var(--hover-transition);
  -webkit-transition: var(--hover-transition);
  -moz-transition: var(--hover-transition);
  -o-transition: var(--hover-transition);
  border-bottom: 1px solid var(--highlight-color);
}

.checkbox-container:hover input ~ b {
  background-color: var(--highlight-color);
}
