@charset "utf-8";
:root {
  --color: #ebdbb2;
  --highlight-color: #eb6b56;
  /*#ff4646 red*/
  /*#f3bf1e yellow*
  /*#ff2e88 pink*/
  /*#cb1104 thick red*/
  /*#eb6b56 pale red*/
  --camouflage-color: #323436;
  --background-color: #101518;
  /*#101518 #0a0f12 blue*/
  /*#282828 gray*/
  --emphsis-color: #758eb7;
  /*#98971a dirt yellow*/
  /*#758eb7 light blue*/
  --emphsis-link-color: #b0bec5;
  /*6f5f90*/
  /* cb1104 + 101518 / 2*/
  --selection-color: #6D130E;
  --font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, 'ChsFont';
  --global-transition: all 0.5s ease-in-out;
  --hover-transition: all .15s cubic-bezier(.4, 0, 0, 1);
  --border-radius: 5px;
  --content-width: 60rem;
  --text-size: 1.07rem;
  --line-height: 1.65rem;
}

@font-face {
  font-family: 'ChsFont';
  src:
    local('DengXian'),
    local('Microsoft JhengHei'),
    local('Hiragino Sans GB'),
    local('PingFang'),
    local('Microsoft Yahei'),
    local('Droid Sans Fallback');
}

/* cyrillic-ext */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url(https://fonts.gstatic.com/s/ubuntu/v14/4iCs6KVjbNBYlgoKcg72j00.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url(https://fonts.gstatic.com/s/ubuntu/v14/4iCs6KVjbNBYlgoKew72j00.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url(https://fonts.gstatic.com/s/ubuntu/v14/4iCs6KVjbNBYlgoKcw72j00.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url(https://fonts.gstatic.com/s/ubuntu/v14/4iCs6KVjbNBYlgoKfA72j00.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* latin-ext */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url(https://fonts.gstatic.com/s/ubuntu/v14/4iCs6KVjbNBYlgoKcQ72j00.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url(https://fonts.gstatic.com/s/ubuntu/v14/4iCs6KVjbNBYlgoKfw72.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.ascii-art {
  white-space: pre;
  font-size: 0.75rem;
  line-height: 1.2em;
}

.pad {
  margin-left:1em;
}

body::-webkit-scrollbar {
    width: 0.5em;
}
 
body::-webkit-scrollbar-track {
  background-color: var(--background-color);
}
 
body::-webkit-scrollbar-thumb {
  background-color: var(--emphsis-color);
}

.wide-spacing {
  letter-spacing: 2.5px;
}

.transition {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition:all 0.5s ease-in-out;
  -o-transition:all 0.5s ease-in-out;
  transition:all 0.5s ease-in-out;
}
html {
  font-size: 14px;
  /*border-top: 3px solid #9D1F24;*/
}
.hack {
  background-color:var(--background-color);
  color:var(--color);
}

/* Emphsis Color */
.hack h1,.hack h2,.hack h3,
.hack h4,.hack h5,.hack h6 {
  color:var(--emphsis-color);
}
.hack code,.hack strong {
  color:var(--emphsis-link-color);
}
.hack .progress-bar-filled {
  background-color:var(--emphsis-color);
}
.hack .form-control,.hack .form-group label {
  color:#fdf4c1;
  border-color:var(--emphsis-color);
}
.hack .card {
  border-color:var(--emphsis-color);
}
.hack .card .card-header {
  background-color:transparent;
  color:#fdf4c1;
  border-bottom:1px solid var(--emphsis-color);
}
.hack .btn.btn-ghost.btn-success:focus,
.hack .btn.btn-ghost.btn-success:hover {
  border-color:var(--emphsis-color);
  color:var(--emphsis-color);
}
.hack .menu .menu-item {
  color:#fdf4c1;
  border-color:var(--emphsis-color);
}

/* Emphsis Link */
.hack h1 a,.hack h2 a,.hack h3 a,
.hack h4 a,.hack h5 a,.hack h6 a {
  color:var(--emphsis-link-color);
  border-bottom-color:var(--emphsis-link-color);
}
.hack h1 a:hover,.hack h2 a:hover,
.hack h3 a:hover,.hack h4 a:hover,
.hack h5 a:hover,.hack h6 a:hover {
  background-color:var(--emphsis-link-color);
  color:#fbf1c7;
}

a {
  transition: var(--hover-transition);
  -webkit-transition: var(--hover-transition);
  -moz-transition: var(--hover-transition);
  -o-transition: var(--hover-transition);
  /*transition: all .15s cubic-bezier(.4, 0, 0, 1);*/
  /*transition: all .2s cubic-bezier(1, 0, 0, 1);*/
  /*transition:all 1.3s cubic-bezier(0,.5,0,1) 0s*/
}

/* Table Color */
.hack table {
  color:#fdf4c1;
}
.hack table td,.hack table th {
  border-color:#b0bec5;
}
.hack table tbody td:first-child {
  color:#b0bec5;
}

* {
  box-sizing: border-box;
  text-rendering: geometricPrecision;
}
body {
  font-size: 1rem;
  line-height: var(--line-height);
  margin: 0;
  font-family: var(--font-family);
  word-wrap: break-word;
}

::selection {
  background: var(--selection-color);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3em;
}
fieldset {
  border: none;
  padding: 0;
  margin: 0;
}
pre {
  padding: 2rem;
  margin: 1.75rem 0;
  background-color: var(--background-color);
  border: 1px solid #ccc;
  overflow: auto;
}
code[class*="language-"],
pre[class*="language-"],
pre code {
  font-weight: 100;
  text-shadow: none;
  margin: 1.75rem 0;
}
a {
  cursor: pointer;
  color: var(--highlight-color);
  text-decoration: none;
  border-bottom: 1px solid var(--highlight-color);
}
a:hover {
  background-color: var(--highlight-color);
  color: #fff;
}
.grid {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.grid.\-top {
  -ms-flex-align: start;
  align-items: flex-start;
}
.grid.\-middle {
  -ms-flex-align: center;
  align-items: center;
}
.grid.\-bottom {
  -ms-flex-align: end;
  align-items: flex-end;
}
.grid.\-stretch {
  -ms-flex-align: stretch;
  align-items: stretch;
}
.grid.\-baseline {
  -ms-flex-align: baseline;
  align-items: baseline;
}
.grid.\-left {
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.grid.\-center {
  -ms-flex-pack: center;
  justify-content: center;
}
.grid.\-right {
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.grid.\-between {
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.grid.\-around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.cell {
  -ms-flex: 1;
  flex: 1;
  box-sizing: border-box;
}
@media screen and (min-width: 768px) {
  .cell.\-1of12 {
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
  }
  .cell.\-2of12 {
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
  }
  .cell.\-3of12 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
  }
  .cell.\-4of12 {
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
  }
  .cell.\-5of12 {
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
  }
  .cell.\-6of12 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
  }
  .cell.\-7of12 {
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
  }
  .cell.\-8of12 {
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
  }
  .cell.\-9of12 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
  }
  .cell.\-10of12 {
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
  }
  .cell.\-11of12 {
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
  }
}
@media screen and (max-width: 768px) {
  .grid {
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .cell {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
}
.hack,
.hack blockquote,
.hack code,
.hack em,
.hack h1,
.hack h2,
.hack h3,
.hack h4,
.hack h5,
.hack h6,
.hack strong {
  font-size: var(--text-size);
  font-style: normal;
  font-family: var(--font-family)
}
.hack blockquote,
.hack code,
.hack em,
.hack strong {
  line-height: var(--line-height);
}
.hack blockquote,
.hack code,
.hack footer,
.hack h1,
.hack h2,
.hack h3,
.hack h4,
.hack h5,
.hack h6,
.hack header,
.hack li,
.hack ol,
.hack p,
.hack section,
.hack ul {
  float: none;
  margin: 0;
  padding: 0;
}
.hack blockquote,
.hack h1,
.hack ol,
.hack p,
.hack ul {
  margin-top: var(--line-height);
  margin-bottom: var(--line-height);
}
.hack h1 {
  position: relative;
  display: inline-block;
  display: table-cell;
  padding: 20px 0 30px;
  margin: 0;
  overflow: hidden;
}
.hack h1:after {
  content: "====================================================================================================";
  position: absolute;
  bottom: 10px;
  left: 0;
}
.hack h1 + * {
  margin-top: 0;
}
.hack h2,
.hack h3,
.hack h4,
.hack h5,
.hack h6 {
  position: relative;
  margin-bottom: 1.75rem;
}
.hack h2:before,
.hack h3:before,
.hack h4:before,
.hack h5:before,
.hack h6:before {
  display: inline;
}
.hack h2:before {
  content: "## ";
}
.hack h3:before {
  content: "### ";
}
.hack h4:before {
  content: "#### ";
}
.hack h5:before {
  content: "##### ";
}
.hack h6:before {
  content: "###### ";
}
.hack li {
  position: relative;
  display: block;
  padding-left: 20px;
}
.hack li:after {
  position: absolute;
  top: 0;
  left: 0;
}
.hack ul > li:after {
  content: "-";
}
.hack ol {
  counter-reset: a;
}
.hack ol > li:after {
  content: counter(a) ".";
  counter-increment: a;
}
.hack blockquote {
  position: relative;
  padding-left: 2ch;
  overflow: hidden;
}
.hack blockquote:after {
  content: ">\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>";
  white-space: pre;
  position: absolute;
  top: 0;
  left: 0;
  /*line-height: 20px;*/
}
.hack em:after,
.hack em:before {
  content: "*";
  display: inline;
}
.hack pre code:after,
.hack pre code:before {
  content: "";
}
.hack code {
  font-weight: 700;
}
.hack code:after,
.hack code:before {
  content: "`";
  display: inline;
}
.hack hr {
  position: relative;
  height: 20px;
  overflow: hidden;
  border: 0;
  margin: 20px 0;
}
.hack hr:after {
  content: "----------------------------------------------------------------------------------------------------";
  position: absolute;
  top: 0;
  left: 0;
  line-height: 20px;
  width: 100%;
  word-wrap: break-word;
}
@-moz-document url-prefix() {
  .hack h1 {
    display: block;
  }
}
.hack-ones ol > li:after {
  content: "1.";
}
p {
  margin: 0 0 1.75rem;
}
.container {
  max-width: var(--content-width);
}
.container,
.container-fluid {
  margin: 0 auto;
  padding: 0 1rem;
}
.inner {
  padding: 1rem;
}
.inner2x {
  padding: 2rem;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.progress-bar {
  height: 8px;
  opacity: 0.8;
  background-color: #ccc;
  margin-top: 12px;
}
.progress-bar.progress-bar-show-percent {
  margin-top: 38px;
}
.progress-bar-filled {
  background-color: gray;
  height: 100%;
  transition: width 0.3s ease;
  position: relative;
  width: 0;
}
.progress-bar-filled:before {
  content: "";
  border: 6px solid transparent;
  border-top-color: gray;
  position: absolute;
  top: -12px;
  right: -6px;
}
.progress-bar-filled:after {
  color: gray;
  content: attr(data-filled);
  display: block;
  font-size: 12px;
  white-space: nowrap;
  position: absolute;
  border: 6px solid transparent;
  top: -38px;
  right: 0;
  -ms-transform: translateX(50%);
  transform: translateX(50%);
}
table {
  width: 100%;
  border-collapse: collapse;
  margin: 1.75rem 0;
  color: #778087;
}
table td,
table th {
  vertical-align: top;
  border: 1px solid #ccc;
  line-height: 15px;
  padding: 10px;
}
table thead th {
  font-size: 10px;
}
table tbody td:first-child {
  font-weight: 700;
  color: #333;
}
.form {
  width: 30rem;
}
.form-group {
  margin-bottom: 1.75rem;
  overflow: auto;
}
.form-group label {
  border-bottom: 2px solid #ccc;
  color: #333;
  width: 10rem;
  display: inline-block;
  height: 38px;
  line-height: 38px;
  padding: 0;
  float: left;
  position: relative;
}
.form-group.form-success label {
  color: #4caf50 !important;
  border-color: #4caf50 !important;
}
.form-group.form-warning label {
  color: #ff9800 !important;
  border-color: #ff9800 !important;
}
.form-group.form-error label {
  color: #f44336 !important;
  border-color: #f44336 !important;
}
.form-control {
  outline: none;
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 0.5rem 0;
  width: 20rem;
  height: 38px;
  background-color: transparent;
}
.form-control:focus {
  border-color: #555;
}
.form-group.form-textarea label:after {
  position: absolute;
  content: "";
  width: 2px;
  background-color: #fff;
  right: -2px;
  top: 0;
  bottom: 0;
}
textarea.form-control {
  height: auto;
  resize: none;
  padding: 1rem 0;
  border-bottom: 2px solid #ccc;
  border-left: 2px solid #ccc;
  padding: 0.5rem;
}
select.form-control {
  border-radius: 0;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
}
.help-block {
  color: #999;
  margin-top: 0.5rem;
}
.form-actions {
  margin-bottom: 1.75rem;
}
.btn {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  padding: 0.65rem 2rem;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  z-index: 1;
}
.btn:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
}
.btn.btn-ghost {
  border-color: #757575;
  color: #757575;
  background-color: transparent;
}
.btn.btn-ghost:focus,
.btn.btn-ghost:hover {
  border-color: #424242;
  color: #424242;
  z-index: 2;
}
.btn.btn-ghost:hover {
  background-color: transparent;
}
.btn-block {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
}
.btn-default {
  color: #fff;
  background-color: #e0e0e0;
  border: 1px solid #e0e0e0;
  color: #333;
}
.btn-default:focus:not(.btn-ghost),
.btn-default:hover {
  background-color: #dcdcdc;
  border-color: #dcdcdc;
}
.btn-success {
  color: #fff;
  background-color: #4caf50;
  border: 1px solid #4caf50;
}
.btn-success:focus:not(.btn-ghost),
.btn-success:hover {
  background-color: #43a047;
  border-color: #43a047;
}
.btn-success.btn-ghost {
  border-color: #4caf50;
  color: #4caf50;
}
.btn-success.btn-ghost:focus,
.btn-success.btn-ghost:hover {
  border-color: #388e3c;
  color: #388e3c;
  z-index: 2;
}
.btn-error {
  color: #fff;
  background-color: #f44336;
  border: 1px solid #f44336;
}
.btn-error:focus:not(.btn-ghost),
.btn-error:hover {
  background-color: #e53935;
  border-color: #e53935;
}
.btn-error.btn-ghost {
  border-color: #f44336;
  color: #f44336;
}
.btn-error.btn-ghost:focus,
.btn-error.btn-ghost:hover {
  border-color: #d32f2f;
  color: #d32f2f;
  z-index: 2;
}
.btn-warning {
  color: #fff;
  background-color: #ff9800;
  border: 1px solid #ff9800;
}
.btn-warning:focus:not(.btn-ghost),
.btn-warning:hover {
  background-color: #fb8c00;
  border-color: #fb8c00;
}
.btn-warning.btn-ghost {
  border-color: #ff9800;
  color: #ff9800;
}
.btn-warning.btn-ghost:focus,
.btn-warning.btn-ghost:hover {
  border-color: #f57c00;
  color: #f57c00;
  z-index: 2;
}
.btn-info {
  color: #fff;
  background-color: #00bcd4;
  border: 1px solid #00bcd4;
}
.btn-info:focus:not(.btn-ghost),
.btn-info:hover {
  background-color: #00acc1;
  border-color: #00acc1;
}
.btn-info.btn-ghost {
  border-color: #00bcd4;
  color: #00bcd4;
}
.btn-info.btn-ghost:focus,
.btn-info.btn-ghost:hover {
  border-color: #0097a7;
  color: #0097a7;
  z-index: 2;
}
.btn-primary {
  color: #fff;
  background-color: #2196f3;
  border: 1px solid #2196f3;
}
.btn-primary:focus:not(.btn-ghost),
.btn-primary:hover {
  background-color: #1e88e5;
  border-color: #1e88e5;
}
.btn-primary.btn-ghost {
  border-color: #2196f3;
  color: #2196f3;
}
.btn-primary.btn-ghost:focus,
.btn-primary.btn-ghost:hover {
  border-color: #1976d2;
  color: #1976d2;
  z-index: 2;
}
.btn-group {
  overflow: auto;
}
.btn-group .btn {
  float: left;
}
.btn-group .btn-ghost:not(:first-child) {
  margin-left: -1px;
}
.card {
  border: 1px solid #ccc;
}
.card .card-header {
  color: #333;
  text-align: center;
  background-color: #ddd;
  padding: 0.5rem 0;
}
.alert {
  color: #ccc;
  padding: 1rem;
  border: 1px solid #ccc;
  margin-bottom: 1.75rem;
}
.alert-success {
  color: #4caf50;
  border-color: #4caf50;
}
.alert-error {
  color: #f44336;
  border-color: #f44336;
}
.alert-info {
  color: #00bcd4;
  border-color: #00bcd4;
}
.alert-warning {
  color: #ff9800;
  border-color: #ff9800;
}
.media:not(:last-child) {
  margin-bottom: 1.25rem;
}
.media-left {
  padding-right: 1rem;
}
.media-left,
.media-right {
  display: table-cell;
  vertical-align: top;
}
.media-right {
  padding-left: 1rem;
}
.media-body {
  display: table-cell;
  vertical-align: top;
}
.media-heading {
  font-size: 1.16667rem;
  font-weight: 700;
}
.media-content {
  margin-top: 0.3rem;
}
.avatarholder,
.placeholder {
  background-color: #f0f0f0;
  text-align: center;
  color: #b9b9b9;
  font-size: 1rem;
  border: 1px solid #f0f0f0;
}
.avatarholder {
  width: 48px;
  height: 48px;
  line-height: 46px;
  font-size: 2rem;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}
.avatarholder.rounded {
  border-radius: 33px;
}
.loading {
  display: inline-block;
  content: "&nbsp;";
  height: 20px;
  width: 20px;
  margin: 0 0.5rem;
  animation: a 0.6s infinite linear;
  border: 2px solid #e91e63;
  border-right-color: transparent;
  border-radius: 50%;
}
.btn .loading {
  margin-bottom: 0;
  width: 14px;
  height: 14px;
}
.btn div.loading {
  float: left;
}
.alert .loading {
  margin-bottom: -5px;
}
@keyframes a {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
  }
}
.menu {
  width: 100%;
}
.menu .menu-item {
  display: block;
  color: #616161;
  border-color: #616161;
}
.menu .menu-item.active,
.menu .menu-item:hover {
  color: #000;
  border-color: #000;
  background-color: transparent;
}
@media screen and (max-width: 768px) {
  .form-group label {
    display: block;
    border-bottom: none;
    width: 100%;
  }
  .form-group.form-textarea label:after {
    display: none;
  }
  .form-control {
    width: 100%;
  }
  textarea.form-control {
    border-left: none;
    padding: 0.5rem 0;
  }
  pre::-webkit-scrollbar {
    height: 3px;
  }
}
@media screen and (max-width: 480px) {
  .form {
    width: 100%;
  }
}

/* Figure */
figure {
  width: 100%;
  box-sizing: border-box; 
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}
figcaption {
  width: 100%;
  text-align: center;
  margin-bottom: 0.5em;
  color: var(--color);
  font-family: var(--font-family);
  font-size: 10px;
  a {
    -webkit-transition: var(--hover-transition);
    transition: var(--hover-transition);

    &:hover {
      color: var(--highlight-color);
    }
  }
}

img {
  color: var(--color);
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 70%;
}

.avatar {
  width: 200px;
}

.hidden-text {
  color: var(--camouflage-color);
}
