<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% include head.html %}
  <body class="snow hack">
    <script data-goatcounter="https://tabokie.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
    <div class="container">
      {% include navbar.html %}

      <div class="snowframe">
      {% assign date = page.date | split: ' ' %}
      {% assign subtitle = '<p class="hidden-text"># ' | append: page.category | append: ', ' | append: date[0] | append: '</p>' %}

      {% unless page.hide_title_in_page %}
        <h1>{{page.title}}</h1>
        {% if page.category %}
          {{ subtitle }}
          {% assign subtitle = '' %}
        {% endif %}
      {% endunless %}

      {% if page.side_by_side %}
        {{ content | side_by_side_with_subtitle: page.side_by_side, subtitle }}
      {% else %}
        {{ content }}
      {% endif %}

      {% if page.childs and page.childs.size > 0 %}
        <hr></hr>
        <ul>
        Subtopics:
        {% for child in page.childs %}
          {% for p in site.subtopics %}
            {% if p.id == child %}
              <li><a href="{{p.url}}">{{p.title}}</a></li>
            {% endif %}
          {% endfor %}
        {% endfor %}
        </ul>
      {% endif %}
      </div>

      {% include footer.html %}
    </div>
    <script src="/assets/js/instantpage-3.0.0.js" defer type="module"> </script>
  </body>
</html>
