<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% include head.html %}
  <body class="snow hack">
    <script data-goatcounter="https://tabokie.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
    <div class="container">
      {% include navbar.html %}

      <div class="snowframe">
        <h1>{{page.title}}</h1>
        {{content}}
        <div>
          <!-- <label class="checkbox-container checkbox-hightlight">
            <input type="checkbox" id="sortSelected">
            [<span>by</span> <span class="n-indicator">time</span>/<span class="indicator">category</span>]
          </label> -->
          <!-- ✔ -->
          <label class="checkbox-container">-
            <input type="checkbox" id="sortSelected">
            <b>[<span class="indicator">x</span>]</b>
          </label>
          sort by category
        </div>

        <p>
          <style>#hide-li:after { content: ""; padding-left:8px;}</style>
          <ul id="showOnUnchecked">
            {% assign dateSorted = site.posts | sort: 'date' | reverse %}
            {% for entry in dateSorted %}
              {% assign cur = entry.date | split: ' ' %}
              {% assign prefix = cur[0] %}
              {% assign cur = entry.date | split: '-' %}
              {% if year != cur[0] %}
              {% assign year = cur[0] %}
              {% unless forloop.first %}
              <br />
              {% endunless %}
              <li id="hide-li"><b>{{year}}</b></li>
              {% endif %}
              <li>{{prefix | slice: 5, 5}} - <a href="{{entry.url}}">{{entry.title}}</a></li>
            {% endfor %}
          </ul>
          <ul id="showOnChecked" style="display: none;">
            {% assign categoryGrouped = site.posts | group_by: 'category' %}
            {% assign categorySorted = categoryGrouped | sort: 'name' %}
            {% for category in categorySorted %}
              {% unless forloop.first %}
              <br />
              {% endunless %}
              <li id="hide-li"><b>{{category.name}}</b></li>
              {% assign titleSorted = category.items | sort: 'date' | reverse %}
              {% for entry in titleSorted %}
                {% assign cur = entry.date | split: ' ' %}
                {% assign prefix = cur[0] %}
                <li>{{prefix}} - <a href="{{entry.url}}">{{entry.title}}</a></li>
              {% endfor %}
            {% endfor %}
          </ul>
        </p>
      </div>

      {% include footer.html %}
      <script>
        window.onload = function() {
          $('#sortSelected').prop('checked', false);
        }
        $('#sortSelected').click(function() {
          $("#showOnChecked").toggle(this.checked);
          $("#showOnUnchecked").toggle(!this.checked);
        });
      </script>
    </div>

    <script src="/assets/js/instantpage-3.0.0.js" defer type="module"> </script>
  </body>
</html>
